* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	padding: 20px;
	color: white;

	.header-nav {
		display: flex;
		align-items: baseline;
		gap: 4px;
	}

	.header-nav>button {
		padding: 2px 5px;
		background: none;
		border: none;
		color: rgba(255, 255, 255, 0.474);
		font-family: 'TikTok Sans', sans-serif;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}

	.header-nav>button>.notification-bullet {
		width: 7px;
		aspect-ratio: 1;
		background-color: rgba(255, 80, 80, 0.404);
		border-radius: 100%;
		position: absolute;
		top: 0;
		right: 0;
		translate: 50% -50%;
	}

	.header-nav>button>hr {
		height: 2px;
		background-color: white;
		width: 50%;
	}

	.header-nav>button:last-child {
		color: white;
	}
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	.data-container {
		padding: 20px;
	}

	.data-container>p {
		font-size: 12px;
		margin-top: 5px;
	}

	.footer-nav {
		background-color: black;
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
	}

	.footer-nav>a {
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: rgb(123, 123, 123);
		font-size: 20px;
	}

	.footer-nav>a:first-child {
		color: white;
	}

	.footer-nav span {
		font-size: 10px;
	}

	.footer-nav>.add-button {
		font-size: 20px;
		padding: 2px 8px;
		border-radius: 10px;
		border-left: 4px solid cyan;
		border-right: 4px solid rgb(255, 0, 187);
	}
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */