* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	/* custom header region */
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 20px;

	.header-icon {
		color: white;
		font-size: 24px;
	}

	.header-nav {
		display: flex;
		gap: 20px;
	}

	.header-nav-btn {
		background: none;
		border: none;

		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		font-family: 'TikTok Sans', sans-serif;
		font-weight: 500;
		font-size: 18px;

		color: #fff5;
	}

	.header-nav>.active {
		color: white;

		.active-underline {
			width: 50%;
			height: 3px;

			background-color: #fff;
		}
	}

	.header-nav-btn>.notification-badge {
		position: absolute;
		top: 0;
		right: -5px;
		translate: 50% -50%;

		font-size: 40px;

		color: #f007;
	}

	/* end custom header region */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	/* custom footer region */
	.data-container {
		padding: 20px;
	}

	.data-container>p {
		margin-top: 5px;
	}

	.data-container>p>a {
		text-decoration: none;
		color: #fff;
	}

	.footer-nav {
		background-color: black;

		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
	}

	.footer-tab {
		text-decoration: none;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 20px;

		font-size: 12px;

		color: #fff5;
	}

	.footer-tab>.tab-icon {
		position: relative;

		font-size: 24px;
	}

	.footer-nav>.active {
		color: #fff;
	}

	.tab-icon>.tab-notification {
		position: absolute;
		top: 0;
		right: 0;
		translate: 50% 0%;

		padding: 0 6px;

		border-radius: 10px;

		font-size: 12px;

		background-color: #ff4c4c;
		color: #fff;
	}

	.footer-nav>.create-btn {
		border: none;
		border-radius: 10px;
		border-right: 3px solid #ff0000;
		border-left: 3px solid #00ffff;

		padding: 2px 15px;

		margin: none;

		font-size: 24px;

		background-color: #ffffff;
	}


	/* end custom footer region */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	/* custom sidebar region */
	.logo {
		position: relative;
		width: 50px;
	}

	.logo>img {
		width: 100%;

		border-radius: 100%;
		border: 2px solid #fff;
	}

	.logo>.follow-btn {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		bottom: 0;
		left: 50%;
		translate: -50% 25%;

		height: 20px;
		width: 20px;

		border-radius: 100%;

		font-size: 20px;

		background-color: #ff1515;
		color: #fff;
	}

	.toolbar {
		margin-top: 40px;
	}

	.toolbar-btn {
		background: none;
		border: none;

		display: block;
		width: 100%;

		margin-top: 30px;

		font-size: 16px;
		font-weight: 600;

		color: #fff;
	}

	.toolbar-btn-icon {
		font-size: 30px;
	}

	/* end custom sidebar region */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */